#main-footer {
  background-color: #fff;
  color: #4e4e4e;
  -webkit-box-shadow: 0 0 5px #7a7a7a;
          box-shadow: 0 0 5px #7a7a7a;
  padding: 2rem 2rem 0;
  margin: 0 0.5rem 1rem;
  border-radius: 15px;
}

#main-footer h4 {
  color: #000;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

#main-footer a {
  color: #4e4e4e;
  text-decoration: none;
  font-size: 0.85rem;
}

#main-footer a:hover {
  text-decoration: underline;
}

#main-footer div[copyright] {
  border-top: solid 1px #d1d1d1;
  padding: 1.5rem 0;
}

#main-footer > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-footer > ul > li {
  padding: 1.5rem 0;
  border-bottom: 1px solid #d1d1d1;
}

#main-footer > ul > li li {
  padding: 0.5rem;
}

#main-footer > ul li[categories] {
  border: none;
}

@media (min-width: 768px) {
  #main-footer {
    margin: 2rem;
  }
  #main-footer > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #main-footer > ul > li {
    padding-left: 2rem;
    border: none;
  }
  #main-footer > ul > li li {
    border-bottom: solid 1px #d1d1d1;
    padding: 1rem 0.5rem;
  }
}

/* font family */
@font-face {
  font-family: "Yekan";
  src: url("https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot");
  src: url("https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot?#iefix") format("embedded-opentype"), url("https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.woff") format("woff"), url("https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.ttf") format("truetype");
  font-weight: normal;
}

* {
  -webkit-transition: 700ms ease;
  transition: 700ms ease;
}

button {
  cursor: pointer;
  outline: none;
}

body {
  min-height: 100vh;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  position: relative;
  font-family: Yekan, sans-serif;
}

#main-header nav[top-nav] {
  border-bottom: 1px solid lightgray;
  background-color: #fff;
  z-index: 10;
}

#main-header nav[top-nav] ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-header nav[top-nav] ul li {
  margin: 0.7rem;
}

#main-header nav[top-nav] ul li a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #5a5a5a;
  border-left: 1px solid lightgray;
  padding-left: 0.5rem;
}

#main-header nav[top-nav] ul li a:hover {
  text-decoration: underline;
}

#main-header nav[top-nav] ul li:last-child a {
  border-left: none;
  padding-left: 0;
}

#main-header div {
  background-color: #8dd6e3;
  padding: 0 2rem;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-header div button {
  border: none;
  background: transparent;
}

#main-header div nav[menu] {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#main-header div nav[menu] button[close-menu-btn] {
  float: left;
  margin: 1rem;
}

#main-header div nav[menu] button[close-menu-btn] img {
  width: 2rem;
}

#main-header div nav[menu] a,
#main-header div nav[menu] span {
  text-decoration: none;
  font-size: 1rem;
  color: #5a5a5a;
  font-size: 0.8rem;
}

#main-header div nav[menu] > ul {
  padding: 1rem;
  margin-top: 2.5rem;
}

#main-header div nav[menu] ul > li {
  padding: 1.5rem 2rem;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
}

#main-header div nav[menu] ul > li:hover {
  background-color: #8dd6e3;
}

#main-header div nav[menu] li[services-item] ul {
  display: none;
}

.minimize-menu {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.maximize-menu {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#slider-container {
  position: relative;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#slider-container .slides img {
  width: 100%;
}

#slider-container button {
  position: absolute;
  background-color: transparent;
  border: none;
  z-index: 1;
}

#slider-container button[prev-slide] {
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#slider-container .active {
  display: inline-block;
}

#slider-container .de-active {
  display: none;
}

#slider-container .fade {
  -webkit-animation: fade 2s ease 0s;
          animation: fade 2s ease 0s;
}

#middle-tiles {
  padding: 2rem;
}

#middle-tiles > li {
  position: relative;
  min-height: 15rem;
  background-color: whitesmoke;
  border-radius: 25px;
  margin: 2rem 0;
}

#middle-tiles > li header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#middle-tiles > li header h3 {
  margin-top: 2.7rem;
}

#middle-tiles > li header .tiles-icons {
  position: absolute;
  top: -25px;
  background-color: #d34a4a;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#middle-tiles > li header .tiles-icons img {
  width: 30px;
}

#middle-tiles:last-child div[news-ico] {
  background-color: #4c8cf5;
}

#middle-tiles a {
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
}

#middle-tiles ul {
  padding: 2rem;
}

#middle-tiles ul li {
  border-bottom: solid 1px lightgray;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

#middle-tiles ul li:hover {
  background: -webkit-gradient(linear, right top, left top, color-stop(30%, #8dd6e3), color-stop(80%, whitesmoke));
  background: linear-gradient(-90deg, #8dd6e3 30%, whitesmoke 80%);
}

#middle-tiles li[enroll] p {
  padding: 2rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

#middle-tiles li[enroll] div[buttons] {
  padding: 0 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#middle-tiles li[enroll] div[buttons] button {
  width: 7rem;
  padding: 0.5rem 2rem;
  margin: 0.2rem 0;
  border-radius: 5px;
  border: none;
}

#middle-tiles li[enroll] div[buttons] button a {
  color: #fff;
  font-size: 0.9rem;
}

#middle-tiles li[enroll] div[buttons] button[enroll-btn] {
  background-color: #ff8919;
}

#middle-tiles li[enroll] div[buttons] button[login-btn] {
  background-color: #01c9ee;
}

#middle-tiles li[enroll] div[buttons] button[uni-user-login] {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #ae5756;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  #main-header nav[top-nav] {
    padding-right: 2rem;
  }
  #main-header nav[top-nav] ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #main-header div button {
    display: none;
  }
  #main-header nav[menu] {
    position: relative !important;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: transparent !important;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #main-header nav[menu] > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0 !important;
  }
  #main-header nav[menu] ul > li {
    padding: 0.5rem !important;
    border: none !important;
  }
  #main-header nav[menu] ul > li span,
  #main-header nav[menu] ul > li a {
    color: #000;
  }
  #middle-tiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: base-line;
        -ms-flex-align: base-line;
            align-items: base-line;
  }
  #middle-tiles > li {
    width: 33%;
    margin: 1rem;
  }
}
/*# sourceMappingURL=home.css.map */